<% layout('layouts/boilerplate') %>
    <h1>Your Assets</h1>
    <hr>
    <div>
        <span>Land id: 00000000</span>
        <h4>Property Details</h4>
        <p><b>State:</b> NULL</p>
        <p><b>District:</b> NULL</p>
        <p><b>Village:</b> NULL</p>
        <p><b>Survey Number:</b> NULL</p>
        <button class="btn btn-info">Make Available</button>
    </div>
    <hr>